# ==========================================
# ⚠️ À MODIFIER : Nom du projet et base de données
# ==========================================
PROJECT_NAME=project-name
MONGO_DATABASE=project-name

# ==========================================
# CONFIGURATION MONGODB (valeurs par défaut - ne pas modifier)
# ==========================================
MONGO_PORT=27017
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=qwerty87
